* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    /* Colores */
    --primary-color: #0f0f0f;
    --dark-color: #0a0a0a;
    --title-black-color: #f1f1f1;
    --light-color: #fff;
    --black-transparent: rgba(0, 0, 0, 0.7);
    --border-color: rgba(255, 255, 255, 0.1);
    --selection-text-color: #cfcfcf;
    --selection-hover-color: #2e2e2e;
    --scrollbar-background-color: transparent;
    --scrollbar-thumb-color: #888;
    --scrollbar-thumb-hover-color: #555;
    --scrollbar-track-color: #333;
    --border-neon-color: #0974f1;
    --shadow-neon-color: rgba(9, 117, 241, 0.8);

    --black-transparent: rgba(97, 97, 97, 0.336);
    --white-transparent: rgba(0, 0, 0, 0.336);
    --gray-transparent: rgba(32, 32, 32, 0.473);

    /* gradient */
    --backdrop-image-gradient: linear-gradient(0deg, rgb(15, 15, 15), hsla(0, 0%, 16%, 0.795));



    /* Colores estaticos */
    --white-color: #fff;
    --black-color: #000;

    /* Colores de texto */
    --text-color: #fff;
    --text-color-light: #aaa;
    --text-color-lighter: #888;
    --text-color-lightest: #666;
    --text-color-dark: #333;
}

body.light-theme {
    /* Colores claros */
    --primary-color: #f5f5f5;
    --dark-color: #f0f0f0;
    --title-black-color: #252525;
    --light-color: #000;
    --black-transparent: rgba(97, 97, 97, 0.7);
    --border-color: rgba(0, 0, 0, 0.1);
    --selection-text-color: #2e2e2e;
    --selection-hover-color: #dcdcdc;
    --scrollbar-background-color: transparent;
    --scrollbar-thumb-color: #888;
    --scrollbar-thumb-hover-color: #555;
    --scrollbar-track-color: #ccc;

    --black-transparent: rgba(0, 0, 0, 0.336);
    --white-transparent: rgba(255, 255, 255, 0.336);
    --gray-transparent: rgba(177, 177, 177, 0.473);

    /* gradient */
    --backdrop-image-gradient: linear-gradient(0deg, rgb(245, 245, 245), hsla(0, 0%, 84%, 0.651));

    /* Colores de texto */
    --text-color: #000;
    --text-color-light: #555;
    --text-color-lighter: #777;
    --text-color-lightest: #999;
    --text-color-dark: #ccc;
}

/* Color de selector */
::selection {
    background-color: var(--selection-text-color);
    color: var(--primary-color);
}


/* Medidas de texto */
:root,
body.light-theme {
    --font-zize-xsmall: 12px;
    --font-size-small: 14px;
    --font-size-normal: 16px;
    --font-size-medium: 18px;
    --font-size-large: 20px;
    --font-size-xlarge: 24px;
}

::-webkit-scrollbar {
    opacity: 1;
    background-color: var(--scrollbar-background-color);
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover-color);
}

::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-color);
}


body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--primary-color);
    color: var(--light-color);
}

/* Contenedor principal */
.contenedor {
    display: grid;
    grid-template-columns: auto 1fr 200px;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "header header header"
        "sidebar-left main sidebar-right";
    grid-gap: 0 10px;
}

/* Encabezado */
header {
    grid-area: header;
    display: grid;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--border-color);
    background: var(--dark-color);
    padding: 4px;
    position: sticky;
    top: 0;
    z-index: 100;
    grid-gap: 10px;
    grid-template-areas: "logo search-bar user";
}

/* Logo */
.logo {
    grid-area: logo;
    display: flex;
    align-items: center;
}

.logo h1 {
    margin: 0;
    font-size: 24px;
    color: var(--light-color);
}

/* Botón de menú */
.boton-menu {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 30px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    width: 40px;
    height: 40px;
    margin: 0 10px 0 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light-color);
}

.boton-menu:hover {
    background-color: var(--selection-hover-color);
}

/* Barra de búsqueda */
.search-bar {
    grid-area: search-bar;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar input {
    all: unset;
    font: 16px system-ui;
    width: 100%;
    padding: 8px 16px;
    border: 1px solid var(--border-color);
    border-radius: 5px 0 0 5px;
    background-color: var(--dark-color);
    color: var(--light-color);
    transition: box-shadow 0.2s ease-in-out;
}

.search-bar input::placeholder {
    color: var(--light-color);
    opacity: 0.7;
}

.search-bar button {
    all: unset;
    cursor: pointer;
    width: 50px;
    height: 38px;
    border: 1px solid var(--border-color);
    background-color: var(--primary-color);
    border-radius: 0 5px 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar button:hover {
    background-color: var(--selection-hover-color);
}

.filtro {
    grid-area: filtro;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.filtro button {
    all: unset;
    cursor: pointer;
    height: 39px;
    border: 1px solid var(--border-color);
    background-color: var(--primary-color);
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.filtro button:hover {
    background-color: var(--selection-hover-color);
}

.filtro button li {
    list-style: none;
    color: var(--light-color);
    font-size: 16px;
    margin-right: 5px;
}

/* Usuario */
.user {
    grid-area: user;
    display: flex;
    align-items: center;
}

.user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

/* Barra lateral izquierda */
.sidebar-slider-container,
.sidebar-container {
    grid-area: sidebar-left;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    position: sticky;
    top: 50px;
    width: 207px;
    background-color: var(--dark-color);
    height: calc(100vh - 49px);
    transition: width 0.3s ease;

}

.sidebar-slider-container {
    display: none;
}

.sidebar-container.minimized {
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 68px;
    overflow: hidden;

    transition: width 0.3s ease;
}

.sidebar-container.minimized .sidebar-left {
    width: 68px;
    transition: width 0.3s ease;
}

.sidebar-container.minimized .sidebar-left ul li a .bx {
    margin: 0 25px 0 6px;
    font-size: 24px;
    transition: color 0.3s ease;
}

.sidebar-container.minimized::-webkit-scrollbar {
    width: 2px;
}

.sidebar-slider-container {
    overflow-y: auto;
}

.sidebar-container:hover {
    overflow-y: auto;
}

.sidebar-slider-container::-webkit-scrollbar,
.sidebar-container::-webkit-scrollbar {
    width: 7px;
    background-color: transparent;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.sidebar-slider-container:hover::-webkit-scrollbar,
.sidebar-container:hover::-webkit-scrollbar {
    opacity: 1;
    background-color: var(--scrollbar-background-color);
}

.sidebar-slider-container::-webkit-scrollbar-thumb,
.sidebar-container::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
    border-radius: 6px;
}

.sidebar-slider-container::-webkit-scrollbar-thumb:hover,
.sidebar-container::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover-color);
}

.sidebar-slider-container::-webkit-scrollbar-track,
.sidebar-container::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-color);
    border-radius: 6px;
}

.sidebar-slider,
.sidebar-left {
    padding: 5px;
    width: 200px;
    background-color: var(--dark-color);
}

.sidebar-slider ul,
.sidebar-left ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-slider ul li,
.sidebar-left ul li {
    margin-bottom: 3px;
}

.sidebar-slider ul li a,
.sidebar-left ul li a {
    display: flex;
    height: 43px;
    align-items: center;
    color: var(--light-color);
    text-decoration: none;
    padding: 10px;
    transition: 0.3s ease;
}

.sidebar-slider ul li a .bx,
.sidebar-left ul li a .bx {
    margin-right: 15px;
    font-size: 20px;
    transition: color 0.3s ease;
}

.sidebar-slider ul li a:hover,
.sidebar-left ul li a:hover {
    background-color: var(--selection-hover-color);
    border-radius: 4px;
}

.sidebar-slider hr,
.sidebar-left hr {
    border: none;
    border-top: 1px solid var(--border-color);
    margin: 10px 0;
}

/* Button theme */
.theme-switch-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.dark-light {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.sidebar-container.minimized .sidebar-left .dark-light {
    margin-right: 0;
}

.sidebar-slider .dark-light {
    margin-right: 10px;
}

.dark,
.light {
    display: none;
    align-items: center;
    justify-content: center;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: var(--scrollbar-track-color);
    color: var(--light-color);
    cursor: pointer;
}

.dark.active,
.light.active {
    display: flex;
}

.dark:hover,
.light:hover {
    background-color: var(--scrollbar-thumb-color);
}

.dark i,
.light i {
    font-size: 1.2em;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
}

.sidebar-container.minimized .switch {
    display: none;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    border: 2px solid var(--border-color);
    border-radius: 50px;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    left: 0.2em;
    bottom: 0.2em;
    background-color: var(--light-color);
    border-radius: inherit;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.switch input:checked+.slider {
    box-shadow: 0 0 20px var(--border-neon-color);
    border: 2px solid var(--shadow-neon-color);
}

.switch input:checked+.slider:before {
    transform: translateX(1.5em);
}

/* Add styles for the light theme */
.light-theme {
    background-color: var(--primary-color);
    color: var(--texr-color);
}

.light-theme .dark,
.light-theme .light {
    background-color: var(--primary-color);
    color: var(--texr-color);
}

.light-theme .dark:hover,
.light-theme .light:hover {
    background-color: var(--selection-hover-color)
}

.light-theme .slider {
    border: 2px solid var(--border-color);
}

.light-theme .slider:before {
    background-color: var(--light-color);
}

/* footer sidebar */
.sidebar-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: var(--light-color);
    font-size: 12px;
}

.sidebar-footer .version {
    margin-top: 5px;
}


/* Contenido principal */
.main {
    grid-area: main;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid var(--border-color);
}

/* Barra lateral derecha */
#sidebar-right {
    grid-area: sidebar-right;
    position: sticky;
    top: 60px;
    border-radius: 4px;
    border: 1px solid var(--border-color);
    background-color: var(--dark-color);
    height: calc(100vh - 70px);
}

/* Sección de publicidad */
.ad-section {
    padding: 20px;
    border-radius: 5px;
    background-color: var(--dark-color);
}

.ad-section h2 {
    margin-top: 0;
}

.ad-section p {
    margin-bottom: 10px;
}

.ad-section a {
    padding: 6px 12px;
    border-radius: 4px;
    background-color: var(--primary-color);
    color: var(--light-color);
    text-decoration: none;
}

.ad-section a:hover {
    background-color: var(--light-color);
    color: var(--primary-color);
}

/* Tamaños de texto */
p {
    font-size: var(--font-size-medium);
}

h1 {
    font-size: var(--font-size-large);
}

a {
    font-size: var(--font-size-normal);
}

/* Responsive */
@media screen and (max-width: 1200px) {
    .sidebar-container {
        margin: 0;
        display: flex;
        justify-content: space-between;
        width: 68px;
        overflow: hidden;
        transition: width 0.3s ease;
    }

    .sidebar-left {
        width: 68px;
        transition: width 0.3s ease;
    }

    .sidebar-left .switch {
        display: none;
    }

    .dark-light {
        margin-right: 0;
    }

    .sidebar-left ul li a .bx {
        margin: 0 25px 0 6px;
        font-size: 24px;
        transition: color 0.3s ease;
    }

    .sidebar-container::-webkit-scrollbar {
        width: 2px;
    }

    #sidebar-right {
        margin: 10px 0 0 0;
    }

    .sidebar-container {
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        transition: width 0.3s ease;
    }

    .sidebar-slider-container {
        width: 208px;
        position: fixed;
        top: 49px;
        left: 0;
        z-index: 999;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
        display: flex;
    }

    .sidebar-slider-container.open {
        transform: translateX(0);
    }
}

@media screen and (max-width: 1020px) {
    .contenedor {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas:
            "header header"
            "sidebar-left main";
        grid-gap: 0 10px;
    }

    #sidebar-right {
        display: none;
        transition: display 0.3s ease;
    }

    .main {
        margin: 10px 10px 10px 0;
    }
}

@media screen and (max-width: 785) {
    .contenedor {
        grid-template-areas:
            "header header"
            "sidebar-left main";
        grid-gap: 0px;
    }
}

@media screen and (max-width: 600px) {
    .contenedor {
        grid-template-columns: auto;
        grid-template-rows: auto 1fr;
        grid-template-areas:
            "header"
            "main";
        grid-gap: 0px;
    }

    .main {
        margin: 0px;
        padding: 0px;
    }

    .sidebar-container {
        display: none;
    }

    .sidebar-left {
        width: none;
    }

    #sidebar-right {
        display: none;
    }

    .filtro button {
        width: 18px;
        overflow: hidden;
    }

    .filtro button span {
        display: none;
    }

    .sidebar-container.minimized {
        width: 0;
    }
}

@media screen and (max-width: 450px) {
    .main {
        margin: 0px;
        padding: 0px;
    }
}